@model M133BlazorServerApp.M151Data.GameChampion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GameChampion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChampionName" class="control-label"></label>
                <input asp-for="ChampionName" class="form-control" />
                <span asp-validation-for="ChampionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kopf" class="control-label"></label>
                <input asp-for="Kopf" class="form-control" />
                <span asp-validation-for="Kopf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geschlecht" class="control-label"></label>
                <input asp-for="Geschlecht" class="form-control" />
                <span asp-validation-for="Geschlecht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kampfart" class="control-label"></label>
                <input asp-for="Kampfart" class="form-control" />
                <span asp-validation-for="Kampfart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
